#sampler-itemtype-dropdown {
    overflow: auto;
}

/* For small screen */
div.field-map-data > :nth-child(even){
  background-color: #dcdcdc;
  border-radius: 0.5em;
}
div.field-map-data > :nth-child(odd){
  background-color: #aaaaaa;
  border-radius: 0.5em;
}

div.field-map-data div.field-label, div.field-map-data div.field-csl {
    border:1px solid white;
}
div.field-map-data {
    border-bottom:6px solid white;
}
div.field-header {
    background-color: white !important;
}
div.field-label {
    padding-left: 2px;
    padding-right: 2px;
}
div.field-csl {
    font-family: Andale Mono, Courier New, monospace;
    padding-left: 2px;
    padding-right: 2px;
}


/*
ol#error-list {
    overflow: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
*/

/*
ol#errors {
    padding-top: 0px;
    padding-bottom: 0px;
}
*/

#field-map-menu-container {
    overflow:auto;
}

.popover {
    width: 20em;
    background: #dddddd;
}

.popover-title {
    font-weight: bold !important;
}

#submit-wrapper:before {
    content:'①';
}

li.inserted {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-inline {
    width:300px !important;
    vertical-align:middle;
}

.row-gap {
    margin-top: 1em;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

#source, #errors {
    margin-bottom: 0px;
}

#errors {
    overflow: auto;
}

.form-control-feedback {
    position:absolute;
    top:0px;
    cursor: pointer;
}


@-moz-document url-prefix() {
    /* firefox-only css goes here */
    .form-control-feedback {
        position:absolute;
        top:15px;
        cursor: pointer;
    }
}

